body {
    background-image: url("img/fondo.jpg");
    background-color: #cccccc;
}



#div_cargax{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: #000;
    opacity: 0.8;
    filter: alpha(opacity=80);
    display: none;
    z-index:3000;
}


.headboxmdg{

    width: 50px;
    display: inline-block;

}


.msgshowbox{

    display: inline-block;

}

.msgshowboxtitle{
    width: 200px;
    display: inline-block;
    text-decoration: underline blue;
    cursor:pointer;

}

.boxshowmens{

    margin-top: 35px;
    padding: 25px;
    background-color:white;
    border-radius: 40px 40px 40px 40px;
    -moz-border-radius: 40px 40px 40px 40px;
    -webkit-border-radius: 40px 40px 40px 40px;
    border: 0px solid #8c848c;
    width: 100%;
    height: 600px;

    -webkit-box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.75);


}



