body {
    background-image: url("../img/fondo.jpg");
    background-color: #cccccc;
}


.cuadro{
 
border-radius: 27px 27px 27px 27px;
-moz-border-radius: 27px 27px 27px 27px;
-webkit-border-radius: 27px 27px 27px 27px;
border: 1px solid #545154;



margin-bottom: 7px;

    
}